section {
  padding-top: 50px;
}

.top-pages {
  padding-top: 30px;
}

.container {
  background: url("./../../../public/img/dec/top-right.svg") no-repeat top 30px right 30px;
  padding: 4rem 4rem;
}

.bg-black {
  background-color: var(--cor-3);
}

.titulo-bg {
  background: linear-gradient(var(--cor-3) 300px, var(--cor-0) 0px);
}

.titulo {
  padding-bottom: 1.5rem;

  h1 {
    padding-left: 2rem;
  }

  p {
    margin-bottom: 4px;
  }
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: var(--cor-l1);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-l4);
  font: 500 14px "Roboto", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--cor-l2);
  }

  &.secundario {
    background: var(--cor-2);
    color: var(--cor-2);

    &:hover {
      background: var(--cor-2);
    }
  }

  //&.seta {
  //  display: flex;
  //  align-items: center;
  //
  //  &::after {
  //    content: "";
  //    display: inline-block;
  //    width: 18px;
  //    height: 10px;
  //    margin-left: 12px;
  //    background: url("./../../../public/img/icones/seta.svg");
  //    transition: transform 0.2s;
  //  }
  //
  //  &:hover {
  //    &::after {
  //      transform: translateX(4px);
  //    }
  //  }
  //}
}

.link {
  display: inline-block;
  color: var(--cor-l1);
  font: 500 12px "Roboto", sans-serif;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
  }

  &:hover {
    color: var(--cor-0);
  }
}


@media (max-width: 820px) {
  .container {
    padding: 2rem 1rem;
  }

  .titulo p {
    text-transform: lowercase;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

//antd design
.ant-tabs {
  color: white!important;
}

.ant-image{
  margin-left: 5px;
}