.mais-alugados {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.populars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 1rem;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.populars-imagem {
  display: grid;

  img {
    grid-area: 1/1;
  }
}

.populars-informacoes h3,
.populars-informacoes p {
  grid-column: 1/-1;
}

.populars-informacoes {
  position: relative;
  overflow: hidden;

  h3 {
    margin-bottom: 20px;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 8px;
      background-color: var(--cor-l1);
      margin-bottom: 8px;
    }
  }

  p {
    margin: 20px 0;
  }

  a {
    margin-left: auto;
    text-align: end;
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
  }

  ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  img {
    width: 24px;
    margin-right: 8px;
  }

  .card_overlay {
    transform: translateY(100%);
    transition: .2s ease-in-out;
    position: relative;
    top: 0;
    color: var(--cor-4);
  }

  .card_header {
    position: relative;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    top: 0;
    text-align: end;
  }

  &:hover {
    .card_overlay {
      transform: translateY(0);
      color: var(--cor-0);
    }

    .card_header {
      transform: translateY(0);
    }
  }
}

@media (max-width: 820px) {
  .mais-alugados {
    grid-template-columns: 1fr;
  }
  .populars {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .populars-informacoes {
    .card_overlay {
      padding-top: 0;
    }

    ul {
      grid-template-columns: 1fr;
    }
  }
}