

 .res-content{
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100vw;
    grid-gap: 10px;
    margin: 4rem 4rem;

    .res-card{
        background-color: var(--cor-0);
        border-radius: 10px;
        padding: 2rem;
        box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
    }

    .res-content-1{
        grid-column: 1 / span 2;
        grid-row: 1 / 4;
        display: grid;
        grid-gap: 20px;
        
        
           
    }

    .details{
        grid-column: 3;
        grid-row: 1 / 4;

        .res-details{
            display: flex;
            flex-direction: column;
            padding: 0;
        }

    }

    .card-title{
        height: 30px;
    }

    .res-check{
        display: flex !important;
        justify-content: space-between;
        padding: 10px 0;
        border-top: 0.5px  solid tomato;

        .check2{
            border-bottom: 0.5px solid black;
        }

    }

    .botao{
        min-width: 100%;
    }

} 

.bg-black{
    color: white;
}

@media(max-width: 1090px){

    .res-content{
        grid-template-columns: 1fr;

        .details{
            grid-column: 1;
            grid-row: 4;

           .res-details{
            display: flex;
            flex-direction: row;
            padding: 0;

            .info-1{
                width: 50%;
            }

            .info-2{
                width: 50%;
            }

           }

        }

    }
}

@media(max-width: 880px){

    .res-content{
        margin: 16px;
    }

}

@media(max-width: 600px){

    .res-details{
        display: flex;
        flex-direction: column !important;
        padding: 0;

        .info-1{
            width: 100% !important;
        }

        .info-2{
            width: 100% !important;
        }

       }
}