.reserva {
    display: grid;
    grid-template-columns: 5fr 7fr;
    h2 {
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 8px;
            background-color: var(--cor-l1);
            position: absolute;
            left: -12px;
        }
    }
}

.reserve-box{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 50px 64px;
    max-height: 60vh;
    background-color: var(--cor-1);
    box-sizing: border-box;

    .reserve-cal{
        display: grid;
        gap: 20px;
    }

    .reserve-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;

        p{
            text-transform: uppercase;
            font: 500 27px "Roboto", sans-serif;;
            margin-bottom: 0;
        }

        .botao{
            min-height: 30%;
            min-width: 100% ;
        }
    }

    .termos-link{
        max-height: 30px;
    }
}

// Transformando layout para tablets
@media (max-width: 915px) {

    .reserve-box{
        grid-template-columns: 1fr;
        padding:  32px 16px;
        height: 35vh;

        .reserve-btn{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .botao{
                min-height: 40%;
                min-width: 50%;
               
            }
            
        }
    }  
}

// Transformando layout para celulares
@media (max-width: 480px) {

    .reserve-box{
        grid-template-columns: 1fr;
        padding: 2rem;
        height: 45vh;

        .reserve-btn{
            flex-direction: column;
            align-items: center;
            gap: 0;

            .botao{
                min-width: 100% ;
            }
            
        }
    }  
}

@media (max-width: 282px) {

    .reserve-box{
        height: 52vh;
    }
}

// ------------------ // ------------------------

.reserva-produto,
.reserva-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.reserva-produto {
    border-radius: 5px 0 0 5px;
    background: var(--cor-4) url("./../../../public/img/dec/bottom-left.svg") no-repeat bottom 20px left 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
    & > * {
        grid-column: 1/-1;
    }
    & > label {
        grid-column: initial;
    }
    label {
        font: 400 1rem/1.5 "Roboto", sans-serif;
        color: var(--cor-4);
        background-color: var(--cor-2);
        padding: 12px 16px;
        border-radius: 4px;
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        border: 1px solid var(--cor-2);
        &::before {
            content: "";
            display: inline-block;
            box-sizing: border-box;
            width: 12px;
            height: 12px;
            border: 1px solid var(--cor-1);
            border-radius: 50%;
            margin-right: 8px;
        }
        &:hover {
            background-color: var(--cor-2);
            border-color: var(--cor-2);
        }
        span {
            display: none;
        }
    }
    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        &:checked {
            & + label {
                background: var(--cor-0);
                color: var(--cor-3);
                &::before {
                    border-color: var(--cor-1);
                    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-1);
                }
                span {
                    display: inline-block;
                }
                & + .reserva-detalhes {
                    display: grid;
                }
            }
        }
        &:focus {
            & + label {
                box-shadow: 0 0 0 2px var(--cor-l1);
                border-color: var(--cor-4);
            }
        }
    }
}
.reserva-dados {
    border-radius: 0 5px 5px 0;
    background: var(--cor-0) url("./../../../public/img/dec/bottom-right.svg") no-repeat bottom 20px right 20px;
}
.reserva-conteudo {
    display: none;
}
.reserva-conteudo h2,
.reserva-dados h2:nth-of-type(n + 2) {
    margin-top: 20px;
}
#bikcraft:checked ~ #reserva-bikcraft,
#seguro:checked ~ #reserva-seguro {
    display: grid;
    gap: 20px;
}
.reserva-detalhes {
    display: none;
    background: var(--cor-0);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    align-items: center;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        img {
            width: 16px;
            margin-right: 8px;
        }
    }
}


@media (max-width: 1200px) {
    .reserva-produto,
    .reserva-dados {
        padding: 32px;
    }
}

@media (max-width: 820px) {
    .reserva {
        grid-template-columns: 1fr;
    }

    .reserva-produto {
        border-radius: 5px 5px 0 0;
        background: var(--cor-4);
    }

    .reserva-dados {
        border-radius: 0 0 5px 5px;
    }
}

@media (max-width: 400px) {
    .reserva-produto {
        grid-template-columns: 1fr;
    }
}
