.notfound {
  background: var(--cor-4);

  div {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 4rem 3rem 4rem;

    .background-wrapper {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 90%;
      justify-content: end;
      background-image: url('../../../public/img/fotos/notfound.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      h1 {
        position: absolute;
        top: 10%;
        left: 0;
        font-size: 6vmax;
        //transform: translate(-50%, -50%) rotate(-30deg);
        color: var(--cor-1);
        letter-spacing: 0.025em;
        margin: 0;
        transition: 750ms ease-in-out;
      }

      p {
        position: relative;
        color: var(--cor-1);
        align-self: end;
        transition: 750ms ease-in-out;
        letter-spacing: 0.025em;
      }
    }

    a {
      margin: 0 10px;
      border: 2px solid var(--cor-2);
      padding: 0.5em 0.8em;
      position: relative;
      z-index: 1;
      color: #777777;
      text-decoration: none;
      transition: 150ms;
      cursor: pointer;
      top: 90%;

      svg > polyline {
        transition: 150ms;
      }

      &:hover {
        color: var(--cor-0);
        background: var(--cor-2);
        border-color: transparent;

        svg > polyline {
          stroke: var(--cor-0);
        }

        + .background-wrapper > p, + .background-wrapper > h1 {
          color: var(--cor-2);
        }
      }
    }
  }
}

@media(max-width: 880px) {
  .notfound div {
    padding: 0 1rem 2rem 1rem;
  }
}

@media(max-width: 920px) {
  .notfound div .background-wrapper {
    background-position: center;
  }
}